apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zabbix-proxy
  namespace: monitoring
  labels:
    app: zabbix-proxy
spec:
  serviceName: zabbix-proxy
  replicas: 1
  selector:
    matchLabels:
      app: zabbix-proxy
  template:
    metadata:
      labels:
        app: zabbix-proxy
    spec:
      containers:
        - name: zabbix-proxy
          image: zabbix/zabbix-proxy-sqlite3:ubuntu-7.0.16
          ports:
            - containerPort: 10051
              name: zabbix-proxy
              protocol: TCP
          env:
            - name: ZBX_PROXYMODE
              value: "0"
            - name: ZBX_HOSTNAME
              value: "zabbix-proxy.monitoring.svc"
            - name: ZBX_SERVER_HOST
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_SERVER_HOST
            - name: ZBX_SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_SERVER_PORT
            - name: ZBX_ENABLE_SNMP_TRAPS
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_ENABLE_SNMP_TRAPS
            - name: ZBX_DEBUGLEVEL
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_DEBUGLEVEL
            - name: ZBX_TIMEOUT
              value: "4"
        - name: zabbix-agent
          image: zabbix/zabbix-agent2:ubuntu-7.0.16
          ports:
            - containerPort: 10050
              name: zabbix-agent
              protocol: TCP
          env:
            - name: ZBX_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_HOSTNAME
            - name: ZBX_SERVER_HOST
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_AGENT_SERVER_HOST
            - name: ZBX_SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_SERVER_PORT
            - name: ZBX_PASSIVE_ALLOW
              value: "true"
            - name: ZBX_PASSIVESERVERS
            - name: ZBX_ACTIVE_ALLOW
              value: "false"
            - name: ZBX_ACTIVESERVERS
            - name: ZBX_DEBUGLEVEL
              valueFrom:
                configMapKeyRef:
                  name: zabbix-config
                  key: ZBX_DEBUGLEVEL
            - name: ZBX_TIMEOUT
              value: "4"
        - name: snmp-client-1
          image: tandrup/snmpsim:latest
          ports:
            - containerPort: 30161
              protocol: UDP
          command:
            - snmpsimd.py
          args:
            - --agent-udpv4-endpoint=0.0.0.0:30161
            - --data-dir=/usr/local/snmpsim/data
            - --process-user=nobody
            - --process-group=nogroup
            - --v3-user=zabbixUser/noAuthNoPriv
          volumeMounts:
            - name: snmp-data
              mountPath: /usr/local/snmpsim/data/device1.snmprec
        - name: snmp-client-2
          image: tandrup/snmpsim:latest
          ports:
            - containerPort: 30162
              protocol: UDP
          command:
            - snmpsimd.py
          args:
            - --agent-udpv4-endpoint=0.0.0.0:30162
            - --data-dir=/usr/local/snmpsim/data
            - --process-user=nobody
            - --process-group=nogroup
            - --v3-user=zabbixUser/noAuthNoPriv
          volumeMounts:
            - name: snmp-data
              mountPath: /usr/local/snmpsim/data/device2.snmprec
        - name: snmp-client-3
          image: tandrup/snmpsim:latest
          ports:
            - containerPort: 30163
              protocol: UDP
          command:
            - snmpsimd.py
          args:
            - --agent-udpv4-endpoint=0.0.0.0:30163
            - --data-dir=/usr/local/snmpsim/data
            - --process-user=nobody
            - --process-group=nogroup
            - --v3-user=zabbixUser/noAuthNoPriv
          volumeMounts:
            - name: snmp-data
              mountPath: /usr/local/snmpsim/data/device3.snmprec
      volumes:
        - name: snmp-data
          configMap:
            name: snmp-data
---
apiVersion: v1
kind: Service
metadata:
  name: zabbix-proxy
  namespace: monitoring
spec:
  selector:
    app: zabbix-proxy
  ports:
    - name: zabbix-proxy
      nodePort: 31058
      port: 10051
      protocol: TCP
      targetPort: 10051
  type: LoadBalancer

